<div id="results_filler" class="span-19 push-1 last">
</div>

<div id="results" class="span-19 push-1 last">
  <% 
     @ml.listings.each do |theater|
     header = true

     theater[:list].each do |movie_times|
  
     if header
     %>

  <div class="theater append-bottom" 
       tname="<%= theater[:tname] %>"
       tid="<%= theater[:tid] %>">

    <div class="theater_name">
      <a class="theater_link" name = "<%= theater[:tid] %>_name">
	<%= theater[:tname] %>
      </a>
    </div>

    <div class="movies_wrap">
      <% header = false %>
  <% end %> <!-- end if header-->

  <% if movie_times[:movie_times].length > 1 %>

  <%= render 'movie', :movie_times => movie_times %>

  <% end %> <!-- end if > 1-->
      
  <% end %> <!-- end movies loop -->
    </div>
  </div>

  <% end %> <!-- end theater loop -->


</div>
