<div id="results" class="span-19 push-1 last">

  <% 
     @ml.listings.each do |theater|
     header = true

     theater[:list].each do |movie_times|

     if movie_times[:movie_times].length > 1
  
  if header %>

  <div class="theater append-bottom" 
       tname="<%= theater[:tname] %>"
       tid="<%= theater[:tid] %>">

    <div class="theater_name"><%= theater[:tname] %></div>

    <% header = false %>
    <% end %>

    <div class="movies">

      <% movie_times[:movie_times].each do |res| %>

      <div class="movie_box"
	   style="left: <%= (res.time - @start_time) /60/60 / (@col_size + 1) *100 %>%;
		  width: <%= res.duration.to_f / 60 / (@col_size + 1) *100 %>%;"
	   duration="<%= res.duration.to_f / 60 %>"
	   time="<%= res.time %>">


	<div class="movie_box_title">
	  <%= truncate(res.name, :length=>30) %>
	</div>


      </div>

      <% end %>

    </div>

    <% end %>

    <% end %>
  </div>
  <% end %>

</div>
