<div id="filters_wrap" class="span-6 pull-1">

  <!--top header sidebar -->
  <div id="title" class="span-4 prepend-top push-1">
    <div class="span-2">
      <h3>STUBSPY</h3>
    </div>

    <div id="social" class="span-2 last">
      social links
    </div>

  </div>


  <!--sidebar-->
  <div id="filters" class="push-1">
    
    <div id="location" class="span-5">
      <%= form_tag "/movies", :method => "get" do %>

      <%= label_tag(:location, "Change Location") %>

      <br>
      <%= text_field_tag 'location',
	  @location,
	  :id => "location_field", :class =>"span-3" %>

      <%= submit_tag "Set", :id=>"loc_submit" %>
      <% end %>
    </div>
    <br>

    <%= label_tag(:time, "Start Time", :class=>"span-5 prepend-top") %>
    <br>

    <div id="time_slider"
	 class="span-4" 
	 start_time="<%=@start_time.hour %>"
	 end_time="<%=((@end_time - @start_time) /60 /60 + 
		   @start_time.hour).to_i %>">
    </div>

    <div class="time_slider_filler span-5 last">
    </div>
    <%= text_field_tag 'time',
	@start_time.strftime("%l:00 %P"),
	:id=>"time_display", :class=>"span-2 append-3 last prepend-top" %>

    <!--
       TODO: Tag w/ links to results of that theater
      -->
    <div id="theaters" class="span-5">
      <%= label_tag(:theaters, "Theaters", :class=>"span-5 prepend-top last") %>

      <% @ml.theaters.each do |theater| %>
      <br>
      <%= check_box_tag theater.tname, theater.tname, true, %>
      <span id="<%= theater.tid %>" class="theater_name">
	<%= theater.tname %>
      </span>
      <% end %>
    </div>

  </div>



</div>



<!--top header-->
<div id="controls_wrap" class="span-19 push-5">

  <div id="movie_slider" class="span-19">

    <div id="mycarousel" class="jcarousel span-19">

      <ul>

	<% @ml.all_movies.each do |mid, movie| %>
	<li style="width:85px;" class="slider_item", mid="<%= movie.mid %>">

	  <% unless movie.mimg.nil? %>    
	  <!-- 100x150-->

	  <%= link_to(image_tag("http://google.com#{movie.mimg}",
	      :width=>"85px", :height=>"127.5px", :title=>"#{movie.mname}"),
	  "#", :class => "slider_link") %>

	  <% else %>
	  x_x no pic
	  <% end %>

	  <br>

	  <div class="movie_title">
	    <%= movie.mname %>
	  </div>
	</li>
	<% end %>


      </ul>
    </div>

  </div>


<!--Times-->
  <div id="times_wrap" class="span-19 last">
    <% (0 .. @col_size).each do |num| %>
    <div class="times_header " style="left: <%= num/(@col_size+1) * 100%>%;">
      <%= (@start_time + num.hour).strftime("%l%P") %>
    </div>
    <% end %>
  </div>


</div>


<!--result bars-->
<div id="results_wrap" class="span-19 push-4">
     <%= render 'results' %>
</div>

<script>
  var results = <%= @ml.listings.to_json.to_s.html_safe %>
</script>
