<div id="filters_wrap" class="span-6 pull-1">

<!--top header sidebar -->
  <div id="title" class="span-4 prepend-top push-1">
    <div class="span-2">
      <h3>STUBSPY</h3>
    </div>

    <div id="social" class="span-2 last">
      social links
    </div>

  </div>


<!--sidebar-->
  <div id="filters" class="push-1">
    
    <div id="location" class="span-5">
      <%= form_tag "/movies", :method => "get" do %>

      <%= label_tag(:location, "Change Location") %>

      <br>
      <%= text_field_tag 'location',
	  @location,
	  :id => "location_field",
	  :class =>"span-3" %>

      <%= submit_tag "Set", :id=>"loc_submit" %>
      <% end %>
    </div>



    <div id="time" class="span-5">
      <%= label_tag(:time_slider_lbl, "Time", :class=>"span-5 last") %>
      <div id="time_slider">
	==slider==
      </div>
    </div>

<!--
   TODO: Tag w/ links to results of that theater
-->
    <div id="theaters" class="span-5">
      <%= label_tag(:theaters, "Theaters", :class=>"span-5 last") %>

      <% @ml.theaters.each do |theater| %>
      <br>
      <%= check_box_tag theater.tname, theater.tname, true, %>
	<%= theater.tname %>
      <% end %>
    </div>

  </div>



</div>



<!--top header-->
<div id="controls_wrap" class="span-19 push-5">

  <div id="controls" class="span-16">
    controls
  </div>


  <div id="movie_slider" class="span-19 last prepend-top">
    <% @ml.all_movies.each do |mid, movie| %>
    <% unless movie.mimg.nil? %>
    <img src="http://google.com<%= movie.mimg %>" />
    <% else %>
    nil
    <% end %>
    <% end %>
  </div>


<!-- Time breakdown
  <div id="times_wrap" class="span-19 last prepend-top">
    <% (0 .. @col_size).each do |num| %>
    <div class="times_header " style="left: <%= num/(@col_size+1) * 100%>%;">
      <%= (@start_time + num.hour).strftime("%l%P") %>
    </div>
    <% end %>
  </div>
-->

</div>


<!--result bars-->
<div id="results_wrap" class="push-4">

  <%= render 'results' %>

</div>
