<div id="filters_wrap" class="span-4 pull-1">

  <div id="title" class="span-4 prepend-top push-1">
    <h3>STUBSPY</h3>
  </div>

  <div id="filters" class="push-1">
    filters
  </div>

</div>


<div id="controls_wrap" class="span-21 push-3">

  <div id="controls" class="span-18">
    controls
  </div>


  <div id="social" class="span-3 last">
    social links here
  </div>


  <div id="times_wrap" class="span-21 last prepend-top">
    <% (0 .. @col_size).each do |num| %>
    <div class="times_header " style="left: <%= num/(@col_size+1) * 100%>%;">
      <%= (@start_time + num.hour).strftime("%l%P") %>
    </div>
    <% end %>
  </div>

</div>


<div id="results_wrap" class="push-2">

  <div id="results" class="span-21 push-1 last">


<!-- sample iteration -->
    <% @ml.listings.each do |theater| %>
    <br><br>
      <em><%= theater[:tname] %></em>

      <br>
      <% theater[:list].each do |movie_times| %>

      <div class="movies">
        <% movie_times[:movie_times].each do |res| %>
         <span class="movie" style="left: 
		<%= (res.time - @start_time) /60/60 / (@col_size + 1) *100 %>%; width: <%= res.duration.to_f / 60 / (@col_size + 1) *100 %>%;" duration="<%= res.duration.to_f / 60 %>" time="<%= res.time %>">
	   <%= res.name %>
	 </span>
	<% end %>
      </div>



     <% end %>

    <% end %>

  </div>

</div>
