
<div id="description" class="span-23 push-1">

  <div id="features" class="span-14 push-1 prepend-top">
    <ul>
      <li>Plan a day at the movies</li>
      <li>Sneak into another movie muhuhahhahha</li>
    </ul>


    <div id="browse_form" class="span-10 push-1">

      <% if @location.country_code2 == "US" %>

      <%= form_tag "/movies", :method => "get" do%>

      <%= field_set_tag "GET STARTED", :class=>"prepend-top" do %>

      <%= label_tag(:location, "Location") %>
      <span class="small">(City, State, Zip, Neighborhood)</span>

      <br>

      <%= text_field_tag 'location',
	  "#{@location.city_name}, #{@location.region_name}",
	  :class => 'text span-6' %>

      <%= submit_tag "Spy", :class=>"button span-2 push-1" %>
      <% end %>
      <% end %>

      <% else %>
      <br>
      <p>
      <h3 style="color: white; line-height: 1.4em;"> We're sorry, currently StubSpy only 
	<br> operates in the United States </h3>
      </p>
      <% end %>

    </div>


  </div>

  <div id="screenshot" class="span-8 prepend-top append-bottom last">
    <p style="text-align:center;">here lies a screenshot</p>
  </div>

</div>
